<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
	</head>
	<body>
		<h1>Kévin Mírc</h1>
		<p><em>Want to learn about me? <%= link_to "Contact Me", contact_path %>.
		</em></p>
		<div>
			<img src="http://dash.coolsmartphone.com/wp-content/uploads/2013/10/goldmember.jpg"></img>
		</div>
	</body>
</html>