<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
	</head>
	<body>
		<h1>Kévin Mírc</h1>
		<p>want to learn about me? 
			<a href="http://facebook.com/kevin.mircovich">Here is how to do it</a>.
		</p>
	</body>
</html>