<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
	</head>
	<body>
		<h1>Reach Out!</h1>
		<p><em>Find me on <a href="http://facebook.com/kevin.mircovich">Facebook</a>. Also add me on <a href="http://www.linkedin.com/in/kevinmircovich/">LinkedIn</a> <small><em>(Don't forget to endorse my beastly skills)</em></small>.</em></p>
	</body>
</html>