<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
		</head>
	<body>
		<h1>Hi</h1>
		<p>We can't help you around here.</p>
		<p>But if you really need help, you can go <a href="https://www.google.com">here</a>.
		</p>
	</body>
</html>