<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
		</head>
	<body>
		<h1>Sup BITCH</h1>
		<p>Fuck off. We can't help you around here.</p>
		<p>But if you really need help, you can go <a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=suside">here</a>.
		</p>
	</body>
</html>