<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
	</head>
	<body>
		<h1>AYYYYYYYYYYYYYYY</h1>
		<p>Anything you're looking for can be found <a href="http://google.com">here</a></p>
	</body>
</html>
