<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
	</head>
	<body>
		<h2>Welcome!</h2>
		<p><em>Check me out <%= link_to "here", about_path %></em></p>
	</body>
</html>
